<div>
    <h2 id="page-heading">
        <span jhiTranslate="prefWebApp.businessService.home.title">Business Services</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-business-service" [routerLink]="['/business-service/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="prefWebApp.businessService.home.createLabel">
            Create new Business Service
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="businessServices">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="prefWebApp.businessService.name">Name</span></th>
            <th><span jhiTranslate="prefWebApp.businessService.description">Description</span></th>
            <th><span jhiTranslate="prefWebApp.businessService.active">Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let businessService of businessServices ;trackBy: trackId">
                <td><a [routerLink]="['/business-service', businessService.id, 'view' ]">{{businessService.id}}</a></td>
                <td>{{businessService.name}}</td>
                <td>{{businessService.description}}</td>
                <td>{{businessService.active}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/business-service', businessService.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/business-service', businessService.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'business-service/'+ businessService.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
