<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-employee-heading" jhiTranslate="prefWebApp.employee.home.createOrEditLabel">Create or edit a Employee</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!employee.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="employee.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prefWebApp.employee.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="employee.email" required/>
                    <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.email?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prefWebApp.employee.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="employee.firstName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prefWebApp.employee.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="employee.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prefWebApp.employee.lang" for="field_lang">Lang</label>
                    <select class="form-control" name="lang" [(ngModel)]="employee.lang" id="field_lang" >
                        <option value="FRENCH">{{'prefWebApp.Lang.FRENCH' | translate}}</option>
                        <option value="ENGLISH">{{'prefWebApp.Lang.ENGLISH' | translate}}</option>
                        <option value="SPANISH">{{'prefWebApp.Lang.SPANISH' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prefWebApp.employee.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="employee.active" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prefWebApp.employee.organization" for="field_organization">Organization</label>
                    <select class="form-control" id="field_organization" name="organization" [(ngModel)]="employee.organizationId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="businessOrganizationOption.id" *ngFor="let businessOrganizationOption of businessorganizations; trackBy: trackBusinessOrganizationById">{{businessOrganizationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
